<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Name"
   providerName="System.Data.ProviderName"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\veron\Desktop\Projekt\DentalCare\DentalCare\DentalCare\dbDentalCare.mdf;Integrated Security=True" />
</connectionStrings>